@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 50%;
	background-color: #FFF;
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 5px;
	height: 0px
}

::-webkit-scrollbar-track {
	background-color: #B1B1B1
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	background-color: #343434;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #242424;
}

::-webkit-resizer{
	background-image: url('');
	background-repeat: no-repeat;
	width: 4px;
	height: 0px
}

::-webkit-scrollbar{
	width: 6px;
}

header {
	width: 100%;
}

header>div#title {
	width: 100%;
	position: relative;
	display: inline-block;
}

header>div#title>img {
	width: 100%;
}

header>div#title>span {
	position: absolute;
	top: 25%;
	left: 5%;
	font-family: 'Suez One', serif;
	font-size: 2.5vw;
	color: #FFF!important;
	text-shadow: 3px 0 3px #000, 0 3px 3px #000, -3px 0 3px #000, 0 -3px 3px #000;
}

header>div#title>a#link1 {
	position: absolute;
	top: 25%;
	left: 67%;
	font-family: 'Roboto', serif;
	font-size: 1.5vw;
	text-decoration: none;
	color: #000;
	background-color: #D9D9D9;
	padding: 1%;
	transition: 0.2s linear;
}

header>div#title>a#link2 {
	position: absolute;
	top: 25%;
	left: 83%;
	font-family: 'Roboto', serif;
	font-size: 1.5vw;
	text-decoration: none;
	color: #000;
	background-color: #D9D9D9;
	padding: 1%;
	transition: 0.2s linear;
}

header>div#title>a#link1:hover {
	border-radius: 15%;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.4);
}

header>div#title>a#link2:hover {
	border-radius: 15%;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.4);
}

main {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	background-color: #32303f;
	border: 1px solid #FFF;
	border-radius: 10px;
}

main>div#title {
	text-align: center;
	margin: 5%;
}

main>div#title>span {
	font-family: 'Roboto', serif;
	font-size: 2.5vw;
	color: #FFF;
}

main>div#info {
	margin-left: 5%;
}

main>div#info>span {
	font-family: 'Roboto', serif;
	font-size: 1.25vw;
	color: #FFF;
}

main>div#forms {
	margin-top: 10%;
	text-align: center;
}

main>div#forms>span {
	font-family: 'Roboto', serif;
	font-size: 1.25vw;
	color: #FF9595;
}

main>div#forms>textarea {
	resize: none;
	width: 80%;
	height: 150px;
	border: 3px solid #3e3e3e;
	border-radius: 5px;
	padding: 0.5%;
	font-size: 1.3vw;
	font-family: 'Roboto', serif;
	color: #343434;
}

main>div#forms>button {
	border: 3px solid #3e3e3e;
	border-radius: 5px;
	padding: 1%;
	width: 30%;
	background-color: #FFF;
	font-family: 'Roboto', serif;
	font-size: 1.3vw;
	color: #343434;
}

main>div#warning {
	text-align: center;
	margin: 10%;
}

main>div#warning>span {
	font-family: 'Roboto', serif;
	font-size: 1.25vw;
	color: #FFF;
}

div#pages {
	text-align: center;
	background-color: #32303f;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	padding: 2%;
	border: 1px solid #FFF;
	border-radius: 10px;
}

div#pages>span {
	font-family: 'Roboto', serif;
	font-size: 2.5vw;
	color: #FFF;
}

div#pages>a>img {
	width: 30%;
	border-radius: 10px;
}

div#pages>a>img#vk {
	margin-right: 10%;
	margin-bottom: 5%;
	transition: 0.2s linear;
}

div#pages>a>img#fb {
	margin-bottom: 5%;
	transition: 0.2s linear;
}

div#pages>a>img#tw {
	margin-right: 10%;
	transition: 0.2s linear;
}

div#pages>a>img#dc {
transition: 0.2s linear;	
}

div#pages>a>img#vk:hover {
	opacity: 0.4;
}

div#pages>a>img#fb:hover {
	opacity: 0.4;
}

div#pages>a>img#tw:hover {
	opacity: 0.4;
}

div#pages>a>img#dc:hover {
	opacity: 0.4;
}

footer {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin-top: 10%;
	background-color: #32303f;
	border-top: 3px solid #000;
}

footer>div#title {
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 10%;
	font-family: 'Suez One', serif;
	font-size: 2vw;
	color: #FFF;
}

footer>div#copy {
	float: right;
	margin-top: 2.5%;
	margin-bottom: 2%;
	margin-right: 50%;
}

footer>div#copy>a {
	text-decoration: none;
	font-family: 'Roboto', serif;
	font-size: 1.5vw;
	color: #FFF;
	transition: 0.2s linear;
}

footer>div#copy>a:hover {
	color: #C0C0C0;
}